@import 'tailwindcss';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.no-message-container, .loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.no-message, .loader {
    margin: auto;
    /* add any additional styles for the code block */
}

.error {
    color: red;
}
